.App {
  text-align: center;
}

.accordian {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.accordian-section {
  border-bottom: 1px solid #ddd;
}

.accordian-title {
  display: flex;
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #f9f9f9;
}

.accordian-arrow {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.accordian-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

.accordian-content.active {
  transition: max-height 0.3s ease-in;
}

.accordian-content p {
  padding: 15px;
  margin: 0;
}

.accordian-title.active .accordian-arrow {
  transform: rotate(180deg);
}